<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>While this might look like the handlebars angular application, 
    this is s a totally different beast inside. Take a look and 
    see what improvements have been made.</p>
